# Database
DATABASE_URL=postgresql://username:password@host:5432/database_name
DATABASE_URL_POOLER=postgresql://username:password@host-pooler:5432/database_name

# CORS Configuration
CORS_ORIGIN=http://localhost:3001

# Better Auth Configuration
BETTER_AUTH_SECRET=your-secret-key-here
BETTER_AUTH_URL=http://localhost:3000

# External APIs
GOOGLE_BOOKS_API_KEY=your-google-books-api-key-here

# Image Upload (Cloudinary - optionnel)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Email Configuration (pour reset password - optionnel)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=